{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "ignore",
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "php",
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}
